/* html {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

a {
    color: blue !important;
    text-decoration: none !important;
}

#leftcol a {
    color: black !important;
    text-decoration: none !important;
}

#main-container {
    box-shadow: 5px 10px 40px rgb(0 0 0 / 20%);
    background-color: rgb(225, 225, 225);
    /* margin-bottom: 50px; */
    border-radius: 0px 0px 10px 10px;
}

#img-avatar {
    border-radius:50%;
    height: 250px;
    margin: 0 auto;
}

#leftcol {
    /* background-color: rgb(225, 225, 225); */
    height: 100%;
    padding: 30px;
    border-radius: 0px 0px 15px 15px;
}

#rightcol {
    height: 100%;
    padding: 20px 0px 0px 0px;
}

.rightColTab {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    border-radius: 10px;
}

.icon {
    height: 20px;
    display: inline-block;
    margin-right: 15px;
}

.swiper {
    width: 100%;
    height: 400px;
    /* background-color: white; */
}


#swiper-graphics .swiper-slide {
    width: 300px !important;
}

#swiper-photos .swiper-slide {
    /* width: 500px !important; */
    width: auto !important;
    background-color: white;
}


.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* #swiper-photos .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.nav-link .active{
    background-color: rgb(245, 245, 245);
    border-width: 0px;
}

#footer {
    width: 100%;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    padding: 40px;
}