/* html {
    height: 100%;
} */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

a {
    color: blue !important;
    text-decoration: none !important;
}

#leftcol a {
    color: black !important;
    text-decoration: none !important;
}

#main-container {
    box-shadow: 5px 10px 40px rgb(0 0 0 / 20%);
    /* margin-top: 20px; */
    background-color: rgb(225, 225, 225);
    margin-bottom: 50px;
}

#img-avatar {
    border-radius:50%;
    height: 250px;
    margin: 0 auto;
}

#leftcol {
    background-color: rgb(225, 225, 225);
    height: 100%;
    padding: 30px;
}

#rightcol {
    background-color: rgb(245, 245, 245);
    height: 100%;
    padding: 30px;
}

.icon {
    height: 20px;
    display: inline-block;
    margin-right: 15px;
}