.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post_node_circles{
    cursor: pointer;
}

.post_node_circles:active{
    cursor: grabbing;
}

/* LEGEND */

#symbols_legend{
    width: 100%;
    height: 100px;
}

.svg-container-legend {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

#circle_legend_tooltip{
    /* width: 600px;
    height: 300px; */
    background-color: white;
    border: 2px solid;
    border-radius: 9px;
}

#circle_tooltip_svg{
    width: 95%;
    height: 95%;
    margin: auto;
    overflow: visible;
    position: absolute;
    left: 2.5%;
    top: 2.5%
}

#square_tooltip{
    width: 100%;
    height: 100%;
}

/* FILTERS */

#sentime_range{
    width: 100%;
}
